body {
  background: #b2dfdb !important;
}
.company-card {
  width: 22em;
  height:13em;
}
.company-logo {
  justify-content: center;
  height:13em;
}
.company-logo-image {
  max-width: 95%;
  max-height: 95%;
}
.body-section {
  margin-left: auto;
  margin-right: auto;
}
.row-body {
  margin-bottom: 3em;
}
.footer {
  height: auto !important;
  line-height: 2em !important;
  font-size: 1.2em;
  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
}
.footer a {
  color: white;
}

.light-black1 {
  background-color: #191919;
  }
.light-black2 {
  background-color: rgba(35, 35, 35);
}
.light-black3 {
  background-color: rgba(0, 0, 0, 0.7);
}
.light-black4 {
  background-color: rgba(0, 0, 0, 0.4);
}

@media only screen and (min-width: 518.4px) {
  .body-section {
    max-width: 90%
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    font-size: 1em;
    margin-top: 2em;
  }
  .body-section {
    max-width: 85%
  }
  .row-body {
    margin-bottom: 5em;
  }
}

@media only screen and (min-width: 1080px) {
  .body-section {
    max-width: 80%
  }
}
